# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# Lockfiles (pick ONE to keep, comment out the rest)
# package-lock.json
# pnpm-lock.yaml
# yarn.lock

# Astro
.astro

# Env files
.env
.env.local
.env.*.local

# Build output
dist
.next
.svelte-kit
out

# Tools / hosting
.vercel
.netlify
.cache
.astro/astro/content.d.ts
.astro/settings.json
